.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .navbar h1 {
    font-size: 1.5rem;
    margin: 0;
  }
  
  .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
  }
  
  .navbar ul li {
    display: inline;
  }
  
  .navbar ul li a {
    text-decoration: none;
    color: #007bff;
    font-size: 1rem;
  }
  
  .navbar ul li a:hover {
    color: #0056b3;
  }

  /* Centrar el contenedor y hacerlo más pequeño */
.consola-container {
  width: 60%; /* Puedes ajustar este valor para hacerla más grande o pequeña */
  margin: 50px auto; /* Centra el contenedor horizontalmente */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

/* Estilos para los textos de entrada y salida */
h2 {
  text-align: center;
  font-size: 1.5em; /* Tamaño más pequeño */
}

textarea {
  width: 100%;
  height: 150px; /* Reducir la altura */
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* Botón más pequeño */
button {
  width: 100%;
  padding: 8px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.output-area {
  width: 100%;
  height: 150px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #f1f1f1;
  padding: 10px;
}
.user-info {
  display: flex;
  align-items: center;
  position: absolute;
  top: 60px; 
  right: 20px;
}

.user-label {
  background-color: #28a745; 
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.8em;
  margin-right: 10px;
}

.logout-button {
  background-color: #dc3545; 
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.8em;
  cursor: pointer;
}


.login-button {
  background-color: #1e90ff;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.8em;
  cursor: pointer;
}